.container {
  background:#e8e5e5;
  display: flex;
  justify-content:space-evenly;
  align-items:flex-end;
  margin: 30px auto;
  height: 500px;
  width: 1200px;
  border-radius: 20px;
}
.img{
  background-color: #fff;;
  position: absolute;
  top: 224px;
  left:250px;
  margin-top:0;
  height: 350px;
  border-radius:20px;
}
.img2{
  background-color: #fff;;
  position:absolute;
  top:110px;
  left:650px;
  border-radius: 20px;
  height: 390px;
}