#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.add-product{
  width: 100%;
  list-style: none;
}


.container_prod{
  display: flex;
  text-align: center;
  flex-direction: column;
  border:1px solid #e2e2e2;
  box-shadow: 0 8px 10px 5px #888;
  border-radius: 12px;
  width: 1000px;
  height: 600px;
}
.container_prod  ul{
  height: 420px;
  text-align: left;
  list-style: none;
  overflow:auto;
  background-color: wheat;
  border:1px solid red;
  margin:40px;
  border-radius: 12px;
  border:1px solid #e2e2e2;
  box-shadow: 0 8px 10px 5px #888;
}
.container_listproduc{
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content:space-between;
}

form {
  height: 350px;
  width: 450px;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:1px solid #e2e2e2;
  box-shadow: 0 8px 10px 5px #888;
  border-radius: 12px;
}
form input{
  display: flex;
  flex-direction: column;
  margin-bottom:  15px;
}